body {
	background-image: url('back.png');
	background-repeat: no-repeat;
}
div {
	text-align: center;
}
h1 {
  font-family: Helvetica;
  color: white;
  text-align: center;
  font-weight: bold;
  letter-spacing: 3px;
}

h2 {
  font-family: Helvetica;
  color: white;
  text-align: center;
  font-weight: bold;
  font-style: oblique;
}

.photo {
	border-radius: 50%;
	width: 200px;
	height: 200px;
}


p {
  font-family: Helvetica;
  font-style: italic;
  font-weight: bold;
  color: white;
  text-align: center;
}
a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
